
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F5F9;
}

.innercontainer {
    max-width: 81.875rem;
    margin: 0 auto;
}

.flexcontainer {
    display: flex;
    gap: 2.125rem;
}



h1 {
    line-height: 1;
    font-size: 4.5rem;
}

h2 {
    line-height: 1.5;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
}



header {
    background-color: #fff;
    padding: 1rem 2rem;
}

header .innercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    font-size: 1.25rem;
    list-style-type: none;
}

header ul a {
    color: #000;
    text-decoration: none;
}

header button {
    color: #F8FAFC;
    background-color: #BD3A5A;
    border: none;
    padding: 0.75rem 1rem;
}

header a:hover {
    text-decoration: underline #BD3A5A;
}

header button:hover {
    background-color: #84283F;
}

footer {
    color: #F8FAFC;
    background-color: #002439;
    padding: 3.375rem;
}

footer .inner-container {
    padding: 0 5.5rem;
}

footer p, footer cite {
    width: 34.375rem;
}



.banner {
    color: #F8FAFC;
    background-color: #005A8F;
    display: flex;
    flex-direction: column;
    padding: 5.0625rem 6.3125rem;

}

.banner .flexcontainer {
    display: flex;
    align-items: center;
}

.banner p {
    font-size: 2.25rem;
    line-height: 1.5;
}

.banner a {
    color: #F8FAFC;
    text-decoration: none;
    font-size: 1.25rem;
    border: 1px solid #F8FAFC;
    padding: .75rem 1rem;
    margin-top: 1.6875rem;
    display: inline-block;
}

.banner a:hover {
    color: #005A8F;
    background-color: #F8FAFC;
}



.body {
    margin: 5.0625rem auto 1.6875rem auto;
}

.textcontainer {
    padding: 1.6875rem;
}

.maincontent section {
    background-color: #fff;
    margin-bottom: 3.375rem;
}

.maincontent a {
    color: #BD3A5A;
    font-size: 1.375rem;
    font-weight: 700;
    padding-right: 1.6875rem;
}

.maincontent a:hover {
    color: #84283F;
}

.maincontent section p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.maincontent .game-night {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontent .gamenight div {
    width: 31.1875rem;
}

.maincontent .gamenight a {
    width: 17.1875rem;
    text-align: center;
}



aside {
    background-color: #fff;
    width: 25.875rem;
    padding: 1.6875rem;
    text-align: center;
    align-self: flex-start;
}

aside ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3.375rem;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    gap: 3.375rem;
}

aside li {
    display: flex;
    flex-direction: column;
    align-items: center;
}